.label {
    -fx-background-color: white;
    -fx-background-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-text-alignment: LEFT;
    -fx-background-color : #1c2c3a;
    -fx-text-fill : white;
}

.error-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-text-alignment: LEFT;
    -fx-background-color : rgba(255, 0, 0, 0.4);
    -fx-text-fill : black;
    }

.list-label {
    -fx-letter-spacing: 1em;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}